body {
    background: #1C232E;
  }

  header {
    background-color: #1C232E;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
  }

  .logo {
    
    margin-top: 20px;
  }
  .logos{
    max-width: 200px; /* Define a largura máxima da logo */
  max-height: 100px; /* Define a altura máxima da logo */
  width: auto; /* Redimensiona proporcionalmente a largura da logo */
  height: auto; /* Redimensiona proporcionalmente a altura da logo */
  }

  .search-bar {
    margin: 10px;
    flex: 1;
    max-width: 300px;
  }

  .search-bar input {
    background-color: transparent;
    padding-left: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 2px solid #53AC59;
    border-radius: 50px;
    width: 20vw;
    height: 40px;
    align-self: center;
  }

  .search-bar input::placeholder {
    color: #53AC59;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .buttons button {
    margin: 10px;
    padding: 5px;
    gap: 10px;
    box-sizing: border-box;
    background: #252422;
    border: 2px solid #252422;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #53AC59;
    position: relative;
    box-sizing: border-box;
    border-radius: 25px;
    padding-left: 10px;
    border: 2px solid #0F684B;
    text-decoration: none;
    transition: transform 0.3s;
    cursor: pointer;
    padding: 10px;
  }

  .buttons button:hover {
    transform: scale(1.2);
  }

  @media (max-width: 768px) {
    .logo {
      margin-right: 0;
    }

    .search-bar {
      margin: 10px 0;
      flex: 1 0 100%;
      max-width: none;
    }

    .buttons {
      flex: 1 0 100%;
      
    }

    .buttons button {
      width: 100%;
     
    }
  }











  .categories {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px;
    }

    .categories a {
        margin: 10px;
        text-decoration: none;
        color: #53AC59;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Nunito Sans';
        position: relative;
      }
  
      .categories a::before,
      .categories a::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        height: 2px;
        background-color: #53AC59;
        transform: scaleX(0);
        transition: transform 0.3s;
      }
  
      .categories a::before {
        transform-origin: left;
      }
  
      .categories a::after {
        transform-origin: right;
      }
  
      .categories a:hover::before,
      .categories a:hover::after {
        transform: scaleX(1);
      }





.post-form input {
    background: #5b6360;

}
.post-form textarea {
    background: #5b6360;

}
.post-form select{
    background: #5b6360;

}

.post-form input::placeholder{
    color: #31cc3b;
    font-family: "Nunito Sans";
}
.post-form select::placeholder{
    color: #31cc3b;
    font-family: 'Nunito Sans';
}
.post-form textarea::placeholder{
    color: #31cc3b;
    font-family: 'Nunito Sans';
}
      .post-form {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        display: none;
        
      }
  
      .post-form-content {
        background: #252422;
        padding: 23px;
        border-radius: 10px;
        width: 400px;
        color:#53AC59;
        font-family: 'Nunito';
      }
  
      .post-form-content h2 {
        margin-top: 0;
        text-align: center;
        font-family: 'Nunito Sans';
       
      }
  
      .post-form-content label {
        display: block;
        margin-bottom: 10px;
       font-family: 'Nunito Sans';
      }
  
      .post-form-content input[type="text"],
      .post-form-content select,
      .post-form-content textarea {
        width: 100%;
        height: 30px;
        padding: 1px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
        
      }
  
      .post-form-content textarea {
        height: 100px;
      }
  
      .post-form-content button {
        width: 100%;
        height: 40px;
        background-color: #53AC59;
        border: none;
        border-radius: 25px;
        color: #FFF;
        font-family: 'Nunito Sans';
        cursor: pointer;
      }
  
      .posts-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
      }
  


      .post-card {
        background-color: #0F684B;
        border-radius: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 400px;
        margin-bottom: 10px;
        font-family: 'Nunito Sans';
        
      }
      
      .post-card h3 {
        margin-top: 0;
        color: #252525;
      }
      
      .post-card p {
        margin-bottom: 0;
        color:#b9babb;
      }
      
      .post-card .chat-button {
        margin-top: 10px;
       padding: 10px;
       width: 100px;
       background: #252422;
       border: 2px solid #53AC59;
       border-radius: 25px;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 19px;
      color:#53AC59;
      cursor: pointer;
      z-index: 6;
      display: flex; /* Adicionado */
      align-items: center; /* Adicionado */
      justify-content: center; /* Adicionado para centralizar horizontalmente */
      text-decoration: none;
      transition: transform 0.3s ease;
      }
      .post-card .chat-button:hover {
        transform: scale(1.1);
      }

      
      .post-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      
      .user-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      
      .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
      }
      
      .user-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
      }
      
      .user-info h4{
        margin: 0;
        font-size: 14px;
        line-height: 1;
        color: #32ca3c;
      }
      .user-info p {
        margin: 0;
        font-size: 14px;
        line-height: 1;
        font-family: 'Nunito Sans';
      }


      
      



      .chat-container {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px; /* Changed from left to right */
        width: 300px;
        height: 400px;
        background-color: #0F684B;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        font-family: Arial, sans-serif;
        max-width: calc(100% - 40px); /* Added property */
        max-height: calc(100% - 40px); /* Added property */
        overflow: auto; /* Added property */
      }
      
  
      .chat-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #53AC59;
        color: #1C232E;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
  
      .chat-header h4 {
        margin: 0;
      }
  
      .close-chat-button {
        color: #fff;
        cursor: pointer;
        font-size: 18px;
        background: none;
        border: none;
      }
  
      .chat-body {
        padding: 10px;
        height: calc(100% - 60px);
        overflow-y: scroll;
      }
  
      .message-container {
        background-color: #f0f2f5;
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 5px;
      }
  
      .message-container p {
        margin: 0;
      }
  
      .message-container.sender {
        background-color: #DCF8C6;
        align-self: flex-end;
      }
  
      .message-input {
        width: 100%;
        padding: 8px;
        border: none;
        border-top: 1px solid #4267B2;
       
        box-sizing: border-box; /* Added property */
        border-radius: 10px;
      }
      
  
      .send-button {
        width: 100%;
        padding: 8px;
        background-color: #4267B2;
        color: #fff;
        border: none;
        border-radius: 0 0 5px 5px;
        cursor: pointer;
      }



      ::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
      }
      
      /* Estilização do thumb (alça da barra de rolagem) */
      ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
      }
      
      /* Estilização do thumb quando hover */
      ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
      
      /* Estilização do track (fundo da barra de rolagem) */
      ::-webkit-scrollbar-track {
        background-color: transparent;
      }